#back-btn {
    top: 60px;
    font-size: 250%;
    position: relative;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.header-wrapper {
    margin-top: -50px;
}

.dog-profile-container {
    margin-top: -50px;
}