#back-btn {
    margin-top: -6.5%;
    font-size: 250%;
    position: absolute;
    z-index: 999;
    color: black;
    cursor: pointer;
}

.btn.btn-custom {
    color: white;
    background-color: #81875B;
}