#back-btn {
    top: 65px;
    font-size: 250%;
    position: relative;
    color: rgb(0, 0, 0);
    padding: 8px;
    z-index: 999;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
}

#back-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color:#81875B;
 }

.header-wrapper {
    margin-top: -80px;
}

.btn.btn-custom {
    color: white;
    background-color: #81875B;
}

.header {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    width: calc(100% + 40px); 
    margin: 0 -20px;  
}