.welcoming-text {
    margin-bottom: 2%;
    text-align: center;
}

.login {
    margin-top: 20vh;
}

#back-btn {
    top: 0;
    font-size: 400%;
    position: absolute;
    z-index: 999;
    cursor: pointer;
}