.navbar.navbar-expand-lg {
    border: 3px solid rgb(220, 220, 220);
}

.custom-background {
    margin-top: 3%;
}

/* Background Style */
.custom-background {
    position: relative;
    padding: 5rem;
    width: 100%;
    min-height: 50vh; 
}

.custom-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.5; 
    z-index: 1;
}

.custom-background .container-fluid {
    position: relative;
    z-index: 2;
}

.cards {
    display: flex;
    margin-left: 5%;
    gap: 2%;
}

.card {
    width: 85%;
    height: 85%;
    margin-top: 5%;
}